body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Color de fondo ligero para todo el body */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #34ac9b;
    color: white;
}

.logo-container .logo {
    width: 100px;
    height: auto;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-left: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-bar a:hover {
    color: #000000;
}

.main-content {
    padding: 20px;
    margin: auto; /* Centra el contenido principal */
    width: 90%; /* Ajusta este valor según prefieras */
    max-width: 1200px; /* Ajusta este valor para establecer un ancho máximo */
}

.table-container {
    margin-top: 20px;
    overflow-x: auto; /* Asegura que la tabla sea scrollable horizontalmente si es necesario */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px; /* Añade espacio arriba y abajo de la tabla */
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

td button:hover {
    opacity: 0.8;
}

h1{
    text-align: center;
}
