html {
    overflow-x: hidden;
    background: url(/img/fondo2.png);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: round;
}
/* Agrega estilos al header como mencionamos anteriormente */
header {
    background-color: #009688; /* Este es solo un ejemplo de color */
    text-align: center;
    padding: 10px 0;
}

header h1 {
    color: white;
    margin: 0;
}
input, button, select, textarea {
    outline: none;
    font-family: inherit; /* Asegura que los inputs hereden la fuente del body */
}
/* Estilos para el formulario */
.contenedordelform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Esto ayuda a centrar el formulario verticalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del formulario */
}

form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background: #F5F5DC;
    width: calc(100% - 40px); /* Ajusta el ancho del formulario según el padding */
    max-width: 500px; /* Establece un ancho máximo para el formulario */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Estilos para mejorar la apariencia de los campos y etiquetas del formulario */
.form-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px; /* Aumenta el espacio entre campos */
}

.form-field label {
    margin-bottom: 8px; /* Aumenta el espacio entre la etiqueta y el campo */
    font-weight: bold; /* Hace que la etiqueta sea más prominente */
}

.form-field input,
.form-field select,
.form-field textarea,
.form-field button {
    margin: 0; /* Restablece cualquier margen */
    padding: 10px; /* Ajusta el padding según sea necesario, pero mantenlo uniforme */
    box-sizing: border-box; /* Asegura que el padding no expanda los elementos fuera del contenedor */
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field input[type="date"],
.form-field select,
.form-field textarea {
    width: 98%; /* Asegura que los campos ocupen todo el ancho disponible */
    padding: 12px; /* Aumenta el padding para una mejor interacción */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Asegura un fondo blanco para los campos */
}

/* Ajustes para el botón de envío para que destaque */
.form-field button {
    padding: 12px;
    border-radius: 5px;
    background-color: #009688;
    color: white;
    font-size: 1em; /* Aumenta el tamaño de la fuente para mejorar la legibilidad */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}

.form-field button:hover {
    background-color: #00796b;
}

/* Mejora la legibilidad del recordatorio */
.reminder {
    font-style: italic; /* Añade un estilo cursivo */
    color: #666; /* Suaviza el color para menos distracción */
}