html {
    overflow-x: hidden;
    background: url(../img/fondo2.png);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: round;
}

img{
    width: 100%;
}

.header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
    caret-color: transparent;
}


.lista {
  display: none;
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: #4fa9ba;
  position: absolute;
  z-index: 999;
  font-size: 16px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lista1 a{
    font-weight: 120;
    color: white;
}

#lista1 a:hover{
    font-weight: 600;
    color: #104b58;
}

#lista2 a{
    font-weight: 120;
    color: #104b58;
}

#lista2 a:hover{
    color: aqua;
}


.lista li {
    margin-bottom: 10px; /* Ajusta el espacio entre elementos aumentando o disminuyendo el valor de margin-bottom */
  }  


.lista {
    transition: opacity 0.3s ease;
    opacity: 0; /* La lista comienza invisible */
  }
  
/* Mostrar la lista cuando se hace hover 
en la opción */
.opciones:hover .lista{
    display: block;
    opacity: 1; /* La lista se vuelve visible */
}

.inicio{
    background-color: #4fa9ba;
}

.nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    z-index: 1000;
}

.nav a:hover{
    color: #104a5a;
}

.nav i{
    color: white;
}

.nav i:hover{
    color: black;
}

.contenedor{
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}

.logo{
    width: 160px;
    height: 100px;
}

/* ------------------------------------------------------------------------------------------*/


.fondo_principal {
    border-top: 3px solid rgba(227,202,152,255);
    border-top: 3px solid #1e897b;
    height: 430px;
    caret-color: transparent;
    filter: brightness(85%) saturate(100%);
}

.slider-wrapper{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    max-height: 430px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3 rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%; /*flex grow, flex shrink, flex basis*/
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    margin-top: -100rem;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    border: 1px solid #000000;
}

.slider-nav a:hover{
    opacity: 1;
}

.fila_de_informacion {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/* Estilos para la tabla de información */
.informaciontable {
    width: 100%; /* Ajusta el ancho de la tabla al 100% */
}

.informaciontable td {
    width: 50%; /* Establece el ancho de cada celda al 50% */
    padding: 20px; /* Añade espacio alrededor del contenido de las celdas */
}

/* Estilos para los elementos de texto dentro de la tabla */
.informaciontable td h1{
    width: 100%; /* Establece el ancho de los elementos h1, h2 y h3 dentro de las celdas al 100% */
    margin: 0; /* Elimina cualquier margen que pueda afectar el ancho efectivo */
}

#tituloh1tabla {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#tituloh2tabla{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos para el botón */
.informaciontable td a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #34ac9b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.informaciontable td a:hover {
    background-color: #5cac7c;
}

.tituloh2{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
}

.parrafo{
    text-align: center;
    margin: 10px;
}




.contenerdor_elemento {
    border:  #34ac9b 2px solid;
    /* Estilos para el contenedor principal */
    display: flex; /* Utilizamos flexbox para colocar los elementos uno al lado del otro */
    justify-content: center; /* Centramos los elementos horizontalmente */
    background-color: #fff;
    border-radius: 5px;
}

.contenedordatosgatunos {
    /* Estilos para los contenedores internos */
    flex: 1; /* Ambos contenedores ocuparán el mismo espacio */
    margin: 0 5px; /* Margen entre los contenedores, ajusta según necesites */
    max-width: 600px; /* Opcional: limita el ancho máximo para evitar que se expandan demasiado */
    justify-content: center;
    align-items: center;
}

.contenedordatosgatunos li{
    display: flex;
    justify-content: center
}
.fotosdelospacientes img {
    border-radius: 50%; /* Hace que las imágenes tengan bordes redondos */
    width: 200px; /* Ajusta el ancho de las imágenes según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    
    border: 2px solid #34ac9b;
}


.contendorpacientes{
    padding: 25px;
}

.contendorpacientes h2{
    display: flex;
    justify-content: center;

}
.fa-ul {
    list-style-type: none; /* Elimina los puntos predeterminados de la lista */
}

.fa-li {
    position: relative;
    left: -2em;
    width: 2em;
    text-align: center;
    margin-right: 0.5em;
}


.contenedor_cuidad {
    padding: 10px;
    background-color: #fff;
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Coloca los elementos internos uno al lado del otro y distribuye el espacio entre ellos */
    border-radius: 10px;
    align-items: center;
    border: 2px solid #34ac9b;
}

.datos_de_la_cuidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
}

.sedescuidad,
.datos_de_la_cuidades {
    flex: 1; /* Ambos contenedores internos ocuparán el mismo espacio */
    padding: 10px; /* Añade relleno para separar los contenidos del borde */
}

.sedescuidad img {
    max-width: 400px; /* Establece un ancho máximo */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción de la imagen */
}

.botondecita{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left: 10%;
}


/* Estilos para el botón */
.botondecita  a {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    background-color: #104c5a;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}
    


.botondecita  a:hover {
    background-color: #5cac7c;
}
.linea{
        border: none; /* Eliminamos cualquier borde por defecto */
        height: 2px; /* Altura de la línea */
        background-color: #34ac9b; /* Color de la línea (puedes ajustarlo según tu diseño) */
}
/* ------------------------------------------------------------------------------------------*/


/*--------------------Nada funciono plab b mesh----------------------*/


.meshgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.meshcomplete{
    position: relative;
    width: 100%;
    height: 100%;
}

.meshcomplete div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    backface-visibility: hidden;
    transition: 1s;
}

.meshfront{
    transform: perspective(500px) rotateY(0deg);
}

.meshback{
    padding: 5px;
    border-radius: 10px;
    border: #000000 2px solid;
    background-color: #5cac7c;
    transform: perspective(500px) rotateY(180deg);
}

.meshcomplete:hover .meshfront{
    transform: perspective(500px) rotateY(180deg);
}

.meshcomplete:hover .meshback{
    transform: perspective(500px) rotateY(360deg);
}

.imagen_caja{
    border: 2px solid black;
    border-radius: 10px;
}

/*------------------------Aca va otra seccion---------------------------*/

.tamdivision{
    border: 0.5px solid #939393; /* Cambia el estilo del borde a punteado y el color a rojo */
    width: 80%;
    margin: 10px auto;
    margin-top: 1%;
}

.titulodivision{
    font-family: "Protest Riot", sans-serif;
    margin-left: 10%;
    text-align: left;
    color: #30BDBC;
    font-size: 42px;
    padding-bottom: 3%;
    padding-top: 1%;
}

.textodivision{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1%;
}


/*--------------Aca va el blogg de gatos-----------------------------------*/

.tituloblog{
    font-family: "Protest Riot", sans-serif;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.4em;
    text-decoration-color: rgb(243, 179, 60);
}

.bloggatos {
  display: flex;
  width: 1200px;
  margin: auto;
}

.box1, .box2, .box3{
  flex: 1;
  margin: 10px;
  background-color: #fee6b9be;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.gatico{
    height: 325px;
}

.box1 img, .box2 img, .box3 img{
    max-width: 100%;
    max-height: 100%;
}

.box1:hover img, .box2:hover img, .box3:hover img{
    opacity: 0.7;
    cursor: pointer;
}


.texto{
    text-align: center;
    padding-top: 8%;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
}

.texto2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    padding-top: 4%;
    margin: 2%;
}

.texto3{
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    padding-top: 2%;
    margin: 2%;
    color: #939393;
}


.tam{
    border: 1px dashed #939393; /* Cambia el estilo del borde a punteado y el color a rojo */
    width: 80%;
    margin: 10px auto;
}


/*------------Aca acaba todo lo que tiene que ver con la decoracion de la vuelta de las cajas-------------------*/


.items1y2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.items3y4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover{
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
}

.color{
    position: relative;
    border-radius: 10px;
    background-color: #4fa8ba74;
    border-top-right-radius: 10% 10px;
    border-top-left-radius: 80% 20px;
    border-radius: 50% / 30px;
}

.color::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    background-color: #abcdef;
    border-radius: 50% / 30px;
}

    
/* ------------------------------------------------------------------------------------------*/

/* aca comienza el footer*/
.footer {
    background: #4fa7bd;
    color: #fff;
    padding: 12px;
    padding-bottom: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 5%;
}

.lista-footer a{
    text-decoration: none;
}

.lista-footer a:hover{
    color: rgb(255, 255, 255);
}

.fab.fa-instagram {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fab.fa-instagram:hover {
    color: orange;
}

.fa-brands.fa-x-twitter {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-x-twitter:hover {
    color: orange;
}

.fa-brands.fa-facebook-f {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-facebook-f:hover {
    color: orange;
}

.fa-brands.fa-github {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-github:hover {
    color: orange;
}

.iconos{
    width: 30px;
    padding: 6px;
}
  

.comunicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171616;
    flex-wrap: wrap;
}

.comunicacion a{
    width: 100%;
}

.comunicacion a{
    text-decoration: none;
}

.logo2{
    width: 150px;
    height: 90px;
}

.copyright{
    display: flex;
    margin-bottom: 0px;
    height: 20px;
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}