@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
html {
    overflow-x: hidden;
   background: url(/img/fondo2.png); 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: round;
}


.header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
    caret-color: transparent;
}

#linea{
    border-top: 3px solid #104c5a;
}

.fa-user:hover {
    animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #fff8f4; /* Color inicial */
    }
    to {
        color: #e98726; /* Nuevo color */
    }
}


.lista {
  display: none;
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: #4ea9bd;
  position: absolute;
  z-index: 999;
  font-size: 16px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lista1 a{
    font-weight: 120;
    color: #fff8f4;
}

#lista1 a:hover{
    color: orange;
}

#lista2 a{
    font-weight: 120;
    color: #fff8f4;
}

#lista3 a{
    font-weight: 120;
    color: #fff8f4;
}


#lista4 a{
    font-weight: 120;
    color: black;
}

.lista li {
    margin-bottom: 10px; /* Ajusta el espacio entre elementos aumentando o disminuyendo el valor de margin-bottom */
  }  


.lista {
    transition: opacity 0.3s ease;
    opacity: 0; /* La lista comienza invisible */
  }
  
/* Mostrar la lista cuando se hace hover 
en la opción */
.opciones:hover .lista{
    display: block;
    opacity: 1; /* La lista se vuelve visible */
}

.inicio{
    background-color: #4ea9bd;
}

.nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: #fff8f4;
    font-weight: 600;
    z-index: 1000;
}

.nav a:hover{
    color: black;
}

.nav i{
    color: #fff8f4;
}

.nav i:hover{
    color: black;
}

.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.logo{
    width: 160px;
    height: 100px;
}


.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------*/

/* Estilos para la barra lateral */
.sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 11%;
    padding-top: 30px;
    margin-bottom: 3%;
    background-color: #4ea9bd;
    padding-bottom: 2%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    border-radius: 5px;
    font-family: sans-serif;
    z-index: 999; /* Ajuste del z-index para que el sidebar esté detrás del header */
}

.sidebar {
    font-family: 'Pacifico', cursive;
    font-size: 17px;
}

h3{
    font-family: sans-serif;
    color: #fff8f4;
}

.sidebar.show {
    transform: translateX(0);
}

/* Estilo para la viñeta */
.vineta {
    position: fixed;
    right: 0; /* Asegura que esté alineado con el borde derecho */
    top: 50%; /* Centra la viñeta verticalmente */
    transform: translateY(-50%);
    width: 60px; /* Ajusta al tamaño deseado */
    height: 60px; /* Ajusta al tamaño deseado */
    background-color: #4ea9bd;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%; /* Mantiene la forma circular */
    text-align: center;
    font-size: 30px;
   /* Opcional: añade un borde si deseas */
}

.sidebar-wrapper {
    position: fixed; /* Asegura que el sidebar y la viñeta se mantengan fijos en la ventana */
    top: 0;
    right: 0;
    display: flex; /* Asegura que ambos elementos se comporten en línea */
    align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
}



.sidebar .profile {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar .profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin perder proporción */
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 0 auto;
  
}

.sidebar ul li {
    text-align: center;
}



.sidebar ul li a span {
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    color: #fff8f4;
    display: inline-block; /* Asegura que el span se comporte como inline pero permitiendo padding/margin */
    padding: 5px; /* Espaciado alrededor del texto para el efecto hover, ajusta según necesidad */
}



.sidebar ul li a span img {
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto de escala */
    transform-origin: center bottom;
}

.sidebar ul li a span:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen un 10% */
}

.sidebar ul li a span {
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto de escala */
    transform-origin: center bottom;
}

.sidebar ul li a span:hover {
    transform: scale(1.1); /* Aumenta el tamaño del span un 10%, afectando tanto al texto como a la imagen */
}


/*----------------------------------------- Estilo para la tabla ----------------------*/
.tabla-pacientes {
    padding-top: 40px;
    padding-left: 20px;
    width: 70% !important;
    margin-left: 5% !important;
    overflow-x: auto; /* Agregamos una barra de desplazamiento horizontal si es necesario */
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Ajuste para que coincida con el grosor y color de las celdas */
    
}



th, td {
    border: 2px solid #104c5a; /* Asegura que el color y grosor del borde sea uniforme */
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

th {
    background-color: #4ea9bd;
    color: white;
}

td{
    background-color: #fce6b9;
    text-align: center;
}




.btn-info, .info, .btn-danger {
    color: #fff8f4;
    border: none;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-flex; /* Cambiado de inline-block a inline-flex */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: center; /* Alinea los elementos hijos horizontalmente en el centro */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}





.btn-info img, .btn-danger img, .info img {
    transition: transform 0.3s ease; /* Transición suave para el efecto de escala */
}

.btn-info:hover img, .btn-danger:hover img, .info:hover img {
    transform: scale(1.7); /* Aumenta el tamaño de la imagen un 20% */
}






.info:hover{
    color: rgb(161, 97, 38);
}




.fa-circle-info{
    color: #4ea9bd;
    font-size: 15px;
    padding: 6px;

}

/* Estilos para fotos */
.gatos {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid #104c5a;
}

body {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

/* aca comienza el footer*/
.footer {
    background-color: #4ea9bd;
    color: #fff8f4;
    padding: 12px;
    padding-bottom: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; 
}

.lista-footer a{
    text-decoration: none;
}

.lista-footer a:hover{
    color: #fff8f4;
}

.fab.fa-instagram {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fab.fa-instagram:hover {
    color: orange;
}

.fa-brands.fa-x-twitter {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-x-twitter:hover {
    color: orange;
}

.fa-brands.fa-facebook-f {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-facebook-f:hover {
    color: orange;
}

.fa-brands.fa-github {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-github:hover {
    color: orange;
}

.iconos{
    width: 30px;
    padding: 6px;
}
  

.comunicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171616;
    flex-wrap: wrap;
}

.comunicacion a{
    width: 100%;
}

.comunicacion a{
    text-decoration: none;
}

.logo2{
    width: 150px;
    height: 90px;
}


h1{
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0px;
    margin-left: 33%;
    text-align: left;
    color: black;
    font-family: 'Pacifico', cursive;
}

.copyright{
    display: flex;
    margin-bottom: 0px;
    height: 20px;
    color: #fff8f4;
    font-size: 10px;
    background-color: black;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
