html {
    overflow-x: hidden;
    background: url(/img/fondo2.png);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

    background-repeat: round;
}


.header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
    caret-color: transparent;
}

#linea{
    border-top: 3px solid #1e897b;
}


.lista {
  display: none;
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: rgba(55,171,152,270);
  position: absolute;
  z-index: 999;
  font-size: 16px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lista1 a{
    font-weight: 120;
    color: black;
}

#lista1 a:hover{
    color: orange;
}

#lista2 a{
    font-weight: 120;
    color: black;
}

#lista2 a:hover{
    color: aqua;
}

#lista3 a{
    font-weight: 120;
    color: black;
}

#lista3 a:hover{
    color: aqua;
}

#lista4 a{
    font-weight: 120;
    color: black;
}

#lista4 a:hover{
    color: aqua;
}

.lista li {
    margin-bottom: 10px; /* Ajusta el espacio entre elementos aumentando o disminuyendo el valor de margin-bottom */
  }  


.lista {
    transition: opacity 0.3s ease;
    opacity: 0; /* La lista comienza invisible */
  }
  
/* Mostrar la lista cuando se hace hover 
en la opción */
.opciones:hover .lista{
    display: block;
    opacity: 1; /* La lista se vuelve visible */
}

.inicio{
    background-color: rgba(55,171,152,255);
}

.nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    z-index: 1000;
}

.nav a:hover{
    color: black;
}

.nav i{
    color: white;
}

.nav i:hover{
    color: black;
}

.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.logo{
    width: 160px;
    height: 100px;
}


.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------*/

/* Estilos para la barra lateral */
.sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 126px;
    padding-top: 20px;
    background-color: #34ac9b;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .profile img {
    width: 200px; /* Reducimos el ancho de la imagen para que no sea demasiado grande */
    border-radius: 50%;
    display: block; /* Centramos la imagen */
    margin: 0 auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #b4d4a4;
    border-radius: 5px;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

/*----------------------------------------- Estilo para la tabla ----------------------*/
.tabla-pacientes {
    width: 70% !important;
    margin-left: 5% !important;
    overflow-x: auto; /* Agregamos una barra de desplazamiento horizontal si es necesario */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #34ac9c1b;
}

th {
    background-color: #3e7caf;
    border: 1px solid  #b4d4a4;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
}

tr{
    background-color: rgba(98, 98, 163, 0.747);
}

tr:hover {
    background-color: #eaeaea;
}

/* Estilos para fotos */

img {
    width: 150px;
}