@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: round;
}


.logo{
    width: 160px;
    height: 100px;
    padding-top: 6%;
    caret-color: transparent; /* Ocultar la barra titilante */
}

.cajaPrincipal {
    display: flex;
    flex-direction: row;
    height: 100vh; /* altura del viewport */
}


.frase1{
    font-weight: bold;
    color: black;
    display: inline;
    font-size: 20px;
    font-family: "Noto Sans JP", sans-serif;
    
}

.frase2{
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    color: #f7de32;
    cursor: pointer;
    font-size: 20px;
    font-family: "Noto Sans JP", sans-serif;
}

.formdesign{
    background-color: #f5f5dc;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5%;
    caret-color: transparent; /* Ocultar la barra titilante */
}

.login__container__input{
    padding-top: 4%;
}

/*imagen gato de fondo*/
.gatoLogin{
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.6;
    border-right: 3px solid rgba(227,202,152,255);
}

.cajaFondo,.login {
    flex: 1; /* expandirse para ocupar todo el espacio disponible */
}

/* Estilos adicionales para tu caja de fondo y de login */
.cajaFondo {
    background-color: #000000; /* color de fondo de cajaFondo */
}


/*---------------login-------------*/
.login {
    border-left: 3px solid rgba(227,202,152,255);
    background-color: rgba(55,171,152,270); /* color de fondo de login */
    padding: 20px; /* espacio interior */
}

.login__container {
    max-width: 400px; /* ancho máximo del contenedor de login */
    margin: auto; /* centrar horizontalmente */
    text-align: center; /* centrar contenido */
}

/* Agrega estilos adicionales según sea necesario */

.campo-correo {
    /* Estilos básicos */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px; /* Ancho del campo de correo */

    /* Estilos adicionales */
    background-color: #f9f9f9;
    color: #333; /* Color del texto */
}

/* Estilos al enfocar */
.campo-correo:focus {
    border-color: #007bff; /* Cambio de color del borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
}

/* Estilos para el placeholder */
.campo-correo::placeholder {
    color: #999; /* Color del texto del placeholder */
    font-style: italic; /* Estilo del texto del placeholder */
}


.login__container__button{
    margin-top: 12%;
    width: 40%;
    height: 25px;
    background-color: #ffce56;
    border: 1px solid  #ffce56; /* Borde del campo de entrada */
    border-radius: 5px; /* Borde redondeado */
    font-family: "Noto Sans JP", sans-serif;
    
}

.login__container__button:hover{
    background-color: #d8a72a;
    cursor: pointer;
}

.fa-user{
    margin-right:  8px;
}

.fa-lock{
    margin-right:  8px;
}

h1{
    text-align: center;
   font-size: 50px;
   font-family: "Noto Sans JP", sans-serif;
}