html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.cajaPrincipal {
    display: flex;
    flex-direction: column;
    height: 100vh; /* altura del viewport */
}

.cajaFondo,
.login {
    flex: 1; /* expandirse para ocupar todo el espacio disponible */
}

/* Estilos adicionales para tu caja de fondo y de login */
.cajaFondo {
    background-color: #f0f0f0; /* color de fondo de cajaFondo */
}

.login {
    background-color: #ffffff; /* color de fondo de login */
    padding: 20px; /* espacio interior */
}

.login__container {
    max-width: 400px; /* ancho máximo del contenedor de login */
    margin: auto; /* centrar horizontalmente */
    text-align: center; /* centrar contenido */
}

/* Agrega estilos adicionales según sea necesario */
