html {
    overflow-x: hidden;
    background: url(/img/fondo2.png);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: round;
}

.header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
    caret-color: transparent;
}

#linea{
    border-top: 3px solid #1e897b;
}

.fa-user:hover {
    animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #000; /* Color inicial */
    }
    to {
        color: #e98726; /* Nuevo color */
    }
}


.lista {
  display: none;
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: rgba(55,171,152,270);
  position: absolute;
  z-index: 999;
  font-size: 16px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lista1 a{
    font-weight: 120;
    color: black;
}

#lista1 a:hover{
    color: orange;
}

#lista2 a{
    font-weight: 120;
    color: black;
}

#lista2 a:hover{
    color: aqua;
}

#lista3 a{
    font-weight: 120;
    color: black;
}

#lista3 a:hover{
    color: aqua;
}

#lista4 a{
    font-weight: 120;
    color: black;
}

#lista4 a:hover{
    color: aqua;
}

.lista li {
    margin-bottom: 10px; /* Ajusta el espacio entre elementos aumentando o disminuyendo el valor de margin-bottom */
  }  


.lista {
    transition: opacity 0.3s ease;
    opacity: 0; /* La lista comienza invisible */
  }
  
/* Mostrar la lista cuando se hace hover 
en la opción */
.opciones:hover .lista{
    display: block;
    opacity: 1; /* La lista se vuelve visible */
}

.inicio{
    background-color: rgba(55,171,152,255);
}

.nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    z-index: 1000;
}

.nav a:hover{
    color: black;
}

.nav i{
    color: white;
}

.nav i:hover{
    color: black;
}

.contenedor{
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

.logo{
    width: 160px;
    height: 100px;
}


.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1{
    text-align: center;
}


/*------------------------------------------------------*/

form {
    padding: 20px;
    background: #F5F5DC; /* Color de fondo del formulario */
    width: 100%;
    max-width: 450px; /* Ancho máximo para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del formulario */
    border-radius: 8px; /* Bordes redondeados del formulario */
}

.gatocreado{
    position: relative;
}


/* Estilos para el contenedor del formulario */
.contenedor-modificar {
    max-width: 500px; /* Ancho máximo del formulario */
    margin: auto; /* Centrar el formulario horizontalmente */
    padding: 2px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para los grupos de campos */
.form-group {
    text-align: center;
    margin-bottom: 10px; /* Espaciado entre grupos de campos */
}

/* Estilos para las etiquetas */
label {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    display: block; /* Mostrar las etiquetas en una línea separada */
    padding: 4px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"] {
    font-style: italic;
    width: 95%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
}

/* Estilos para el botón */
.send {
    margin-top: 4%;
    padding: 10px 20px; /* Espaciado interno */
    background-color: #5591d1; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero al pasar por encima */
}

/* Estilos para el botón al pasar el mouse por encima */
.send:hover {
    background-color: #1c63af; /* Color de fondo al pasar el mouse */
}


.gatotier{
    position: absolute;
    margin-left: 38%;
    margin-top: 8%;
}

.gatotier2{
    position: absolute;
    height: 200px;
    padding-left: 15%;
}

.pelota{
    position: absolute;
    height: 200px;
    margin-left: 12%;
    margin-top: 13%;
}



/* aca comienza el footer*/
.footer {
    background-color: rgba(55,171,152,255);
    color: #fff;
    padding: 12px;
    padding-bottom: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

}

.lista-footer a{
    text-decoration: none;
}

.lista-footer a:hover{
    color: rgb(255, 255, 255);
}

.fab.fa-instagram {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fab.fa-instagram:hover {
    color: orange;
}

.fa-brands.fa-x-twitter {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-x-twitter:hover {
    color: orange;
}

.fa-brands.fa-facebook-f {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-facebook-f:hover {
    color: orange;
}

.fa-brands.fa-github {
    color: black;
    font-size: 30px;
    padding: 6px;
}

.fa-brands.fa-github:hover {
    color: orange;
}

.iconos{
    width: 30px;
    padding: 6px;
}
  

.comunicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171616;
    flex-wrap: wrap;
}

.comunicacion a{
    width: 100%;
}

.comunicacion a{
    text-decoration: none;
}

.logo2{
    width: 150px;
    height: 90px;
}

.copyright{
    display: flex;
    margin-bottom: 0px;
    height: 20px;
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
