html {
    overflow-x: hidden;
    background: url(/img/fondo2.png);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: round;
}


.header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
    caret-color: transparent;
}

#linea{
    border-top: 3px solid #104c5a;
}

.fa-user:hover {
    animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #000; /* Color inicial */
    }
    to {
        color: #e98726; /* Nuevo color */
    }
}


.lista {
  display: none;
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: #4ea9bd;
  position: absolute;
  z-index: 999;
  font-size: 16px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lista1 a{
    font-weight: 120;
    color: black;
}

#lista1 a:hover{
    color: orange;
}

#lista2 a{
    font-weight: 120;
    color: black;
}

#lista2 a:hover{
    color: aqua;
}

#lista3 a{
    font-weight: 120;
    color: black;
}

#lista3 a:hover{
    color: aqua;
}

#lista4 a{
    font-weight: 120;
    color: black;
}

#lista4 a:hover{
    color: aqua;
}

.lista li {
    margin-bottom: 10px; /* Ajusta el espacio entre elementos aumentando o disminuyendo el valor de margin-bottom */
  }  


.lista {
    transition: opacity 0.3s ease;
    opacity: 0; /* La lista comienza invisible */
  }
  
/* Mostrar la lista cuando se hace hover 
en la opción */
.opciones:hover .lista{
    display: block;
    opacity: 1; /* La lista se vuelve visible */
}

.inicio{
    background-color:#4ea9bd;
}

.nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    z-index: 1000;
}

.nav a:hover{
    color: black;
}

.nav i{
    color: white;
}

.nav i:hover{
    color: black;
}

.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.logo{
    width: 160px;
    height: 100px;
}


.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------*/
/* Estilos para la Tabla */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.tabla-contenedor {
    animation: fadeIn 2s ease-in-out;
}
.table tbody tr {
    opacity: 0; /* Inicialmente invisible */
    animation: fadeInUp 2s ease-in-out forwards;
}

.tabla-contenedor {
    overflow-x: auto;
    margin: 20px auto;
    margin-left: 15%;
    margin-right: 250px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 1rem;
    background: #F5F5DC;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FBFBFA;
}

table thead tr {
    background-color: #4ea9bd;
    color: #fff;
}

table th, table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #f2f2f2;
}

.foto-mascota {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.contenedor-gato {
    position: relative;
    display: inline-block;
}

.info-gato {
    display: none;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* Fondo semitransparente */
    color: white;
    width: 100%;
    text-align: center;
}

.contenedor-gato:hover .info-gato {
    display: block;
}

.navegacion {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.flecha {
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}


/*-------------------------------------------------------------------------------------------------*/
.sidebar-right {
    position: fixed;
    top: 126px;
    right: 0;
    width: 250px;
    height: 50%;
    background-color: #4ea9bd;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease; /* Suaviza la transición */
    right: -230px; /* Inicialmente oculto, excepto el handle */
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar-right.active {
    right: 0; /* Sidebar se muestra */
}
.sidebar-right {
    /* Otros estilos */
    transition: right 0.3s ease; /* Asegúrate de tener una transición suave */
    right: -250px; /* Comienza oculto */
}

.sidebar-right.active {
    right: 0; /* Se muestra */
    width: 200px;
}

.handle {
    position: absolute;
    left: -30px; /* Ajustar según el tamaño del handle */
    top: 0;
    width: 30px; /* Tamaño del handle */
    height: 100%;
    background-color: #24778c; /* Color del handle */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Evita la selección del texto al arrastrar */
}

@keyframes cascada {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





/*-------------------------------------------------------------------------------------------------*/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#infoGatoContenedor > * {
    /* Aumenta la duración de la animación de 0.5s a 1s (o más, si lo deseas) */
    animation: fadeInUp 2s ease-in-out forwards;
}
#infoGatoContenedor {
    display: none; /* Oculto inicialmente, se muestra al hacer clic en una foto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fce6b9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 80%;
    max-width: 960px; /* Ajusta este valor según tus necesidades */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contenido-horizontal {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.Historial-gatuno {
    flex: 1; /* Ajusta estos valores según sea necesario */
    margin-right: 10px; /* Espacio entre el historial y la foto */
}

.foto-contenedor {
    flex: 2; /* Da más espacio a la foto, ajusta según necesidad */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    overflow: hidden; /* Asegura que la foto no sobrepase el borde redondo */
    /* Ajusta el color y tamaño del borde según prefieras */
    width: 150px; /* Reduce el tamaño del contenedor de la foto */
    height: 150px; /* Mantiene la proporción cuadrada para un círculo perfecto */
}

#fotoGato {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    max-height: 100%; /* Asegura que la imagen se ajuste al contenedor */
    object-fit: cover; /* Asegura que la foto cubra el espacio sin deformarse */
    border-radius: 50%;
}

.flechas {
    flex: 1; /* Ajusta estos valores según sea necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px; /* Espacio entre la foto y las flechas */
}

.info-adicional {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0; /* Espacio arriba y abajo */
}

.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 50px;
}

#cerrarInfo {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

#nombreGato{
    font-family: 'Times New Roman', Times, serif;
}



