<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crear_gato.css">
    <title>Registrar Gato</title>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/3b446387f4.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <h1>Registrar Gato</h1>
    </header>
    
    <div class="contenedordelform">

        <form th:object="${gato}" th:action="@{/muestra/agregar}" method="post">
            <div class="form-field">
                <label for="nombre"></label>
                <input th:field="*{nombre}" type="text" id="nombre" placeholder="Ingresa el nombre gato">
            </div>
    
            <div class="form-field">
                <label for="raza"></label>
                <select id="catBreed" name="catBreed">
                    <!-- Opciones de razas de gatos -->

                    <option value="felino">Raza de gato</option>
                    <option value="felino">Persa</option>
                    <option value="felino">Siames</option>
                    <option value="felino">Maine Coon</option>
                    <option value="felino">Ragdoll</option>
                    <option value="felino">Angora</option>
                    <option value="felino">vaca</option>
                </select>
                <!-- <input th:field="*{raza}" type="text" id="raza" placeholder="Ingresa la raza del gato">-->
            </div>
    
            <div class="form-field">
                <label for="edad"></label>
                <input  th:field="*{edad}" type="number" id="edad" placeholder="Ingresa la edad del gato">
            </div>
            <div class="form-field">
                <label for="catBirthdate"></label>
                <input type="date" id="catBirthdate" name="catBirthdate">
            </div>
            <div class="form-field">
                <label for="catNeutered"></label>
                <select id="catNeutered" name="catNeutered" class="uniform-select">
                    <option value="neutered">¿Esta castrado?</option>
                    <option value="yes">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>
    
            <div class="form-field">
                <label for="foto"></label>
                <input th:field="*{foto}" type="text" id="foto" placeholder="Ingresa una foto del gato URL">
            </div>

            <div class="form-field">
                <label for="catInfo"></label>
                <textarea id="catInfo" name="catInfo"> </textarea>
            </div>

            <div class="form-field">
                <button type="submit">Registrar a tu gato</button>
            </div>
           
    
    
        </form>
    </div>
   

    <p class="reminder">Recuerda que puedes registrar a más peludos!!</p>
</body>
</html>