<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/gato.css"/>
    <title>Mis Gatos</title>
</head>
<body>

    <header>
        <h1>Mis Gatos</h1>
        <nav>
            <a href="#historial">Historial gatuno</a>
            <!-- Agrega más enlaces según sea necesario -->
        </nav>
    </header>

    <section id="historial" class="infogatuna">
        <h2 th:text="${gato.nombre}"></h2>
        <div class="foto-gato">
            <img th:src="${gato.foto}">
        </div>
        <div class="datos-gato">
            <h3>Historial</h3>
            <ul>
                <li>
                    <span>Servicio: Peluquería</span>
                    
                </li>
                <!-- Agrega más servicios según sean necesarios -->
            </ul>
            <p><strong>Edad:</strong> <span th:text="${gato.edad}">3</span></p>
            <p><strong>Última cita:</strong> <span>24/12/24</span></p>
        </div>
    </section>

    <!-- Agrega más secciones según sea necesario -->

    <div class="sidebar">
        <div class="profile">
            <img src="/img/fotodelveterinario.jpg" alt="Foto del Veterinario">
            <h3>Nombre del Veterinario</h3>
        </div>
        <ul>
            <li><a href="#">Registrar felino</a></li>
            <li><a href="#">Ver tratamientos</a></li>
            <li><a href="#">Ver servicios</a></li>
        </ul>
    </div>
    
</body>
</html>
