<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/3b446387f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-q7uH1+ekDO2tNvI5/OwFxwzLfPnPu4SKPC4rx7Bgld3NarKypFdLgMIL0tzXCivX1TCKpO9hZ6WBBmF06HtD8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Kitty Clinic</title>
</head>

<body>
    <div class="inicio">
        <header class="header contenedor">
            <img src="../img/logo.png" alt="logo" class="logo">
            <div class="nav">
                <div class="opciones">
                    <a href="">Inicio
                        
                    </a>
                </div>
                <div class="opciones">
                    <a href="">Servicios</a>
                    <ul class="lista" id="lista1">
                        <li><a href="">Cirugías</a></li>
                        <li><a href="">Exámenes</a></li>
                        <li><a href="">Laboratorio Clínico</a></li>
                        <li><a href="">Urgencias</a></li>
                        <li><a href="">Peluquería</a></li>
                    </ul>
                </div>
                <div class="opciones">
                    <a href="">Contáctanos</a>
                </div>
                <div class="opciones">
                    <a href="">Sobre Nosotros</a>
                </div>
                <div>
                    <a th:href="@{/muestra/lista}">
                        <i class="fa-solid fa-cat"></i>
                    </a>
                </div>
                <div>
                    <a th:href="@{/cliente/lista}">
                        <i class="fas fa-user"></i>
                    </a>                    
                </div>
        </header>
    </div>

    <div id="linea"></div>


    <div class="fondo_principal">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="imagen-1" src="../img/imgslider1.jpeg" alt="Gatito oliendo">
                <img id="imagen-2" src="../img/imgslider2.jpeg" alt="Gatito jugando">
                <img id="imagen-3" src="../img/imgslider3.jpeg" alt="Gatito saltando">
                <img id="imagen-4" src="../img/imgslider4.jpeg" alt="Dos gatitos jugando">
            </div>

            <div class="fila_de_informacion">
                <table class="informaciontable">
                    <tr>
                        <td>
                            <h1 id="tituloh1tabla">Clínica Veterinaria de gatos</h1>
                            <h2 id="tituloh2tabla">La mejor clinica de gatos, con la mejor atencion 24/7</h2>
                        </td>
                        <td><a href="#" role="button">
                                <h3>¡Pide tu cita ahora!</h3>
                            </a></td>
                    </tr>
                </table>
            </div>


            <div class="slider-nav">
                <a href="#imagen-1"></a>
                <a href="#imagen-2"></a>
                <a href="#imagen-3"></a>
                <a href="#imagen-4"></a>
            </div>

        </div>


    </div>


    <h2 class="tituloh2">¡La salud de tu mascota nos importa!</h2>


    <div class="contenedor">

        <div class="meshgrid">

            <div class="meshcomplete">
                <div class="meshfront">
                    <img src="../img/caja1.png" alt="caja1" class="imagen_caja">
                </div>
                <div class="meshback">
                    <p>
                        En KittyClinic, entendemos el profundo lazo que compartes con tu compañero
                        peludo. Estamos aquí para ofrecer atención de la más alta calidad, asegurando que tu amigo de
                        cuatro
                        patas disfrute de una vida larga, saludable y feliz.
                    </p>

                    <h5><strong>Servicios Ofrecidos:</strong></h5>

                    <ul>
                        <li>Consultas generales</li>
                        <li>Vacunacion</li>
                        <li>Cirugia y emergencias</li>
                        <li>Nutricion y bienestar</li>
                    </ul>
                </div>
            </div>

            <div class="meshcomplete">
                <div class="meshfront">
                    <img src="../img/caja2.png" alt="caja2" class="imagen_caja">
                </div>

                <div class="meshback">
                    <p>
                        Viajar con tu mascota a Europa requiere planificación y cuidado para asegurar un viaje seguro y
                        cómodo para tu fiel amigo. En KittyClinic, estamos aquí para ayudarte en cada
                        paso del camino.
                    </p>

                    <h5>Requisitos Clave:</h5>

                    <ul>
                        <li>Microship</li>
                        <li>Vacunaciones</li>
                        <li>Certificado de Veterinario</li>
                        <li>Tratamientos Preventivos</li>
                    </ul>

                </div>

            </div>

          
            <img src="../img/caja3.png" alt="caja3" class="imagen_caja">
               


            <div class="meshcomplete">
                <div class="meshfront">
                    <img src="../img/caja4.png" alt="caja4" class="imagen_caja">
                </div>

                <div class="meshback">
                    <h4><strong>Nutricion premium para Tu Felino</strong></h4>

                    <h5>Nuestra Seleccion incluye</h5>

                    <ul>
                        <li>Alimentos secos balanceados para todas las etapas de la vida.</li>
                        <li>Alimentos húmedos con sabores que encantan a cualquier paladar felino.</li>
                        <li>Suplementos nutricionales diseñados para necesidades especiales.</li>
                        <li>Snacks saludables para premiar y mimar a tu compañero.</li>
                    </ul>

                </div>

            </div>

            <div class="meshcomplete">
                <div class="meshfront">
                    <img src="../img/caja5.png" alt="caja5" class="imagen_caja">
                </div>

                <div class="meshback">
                    <h4>Nutricion Integral para Tu Mejor Amigo</h4>

                    <h5>Nuestros productos incluyen</h5>

                    <ul>
                        <li> <strong>Alimentos Secos:</strong> Con opciones para todas las edades, tamaños y niveles de
                            actividad.</li>
                        <li> <strong>Alimentos Húmedos:</strong> Para aquellos que prefieren una dieta más jugosa o
                            necesitan hidratación adicional.</li>
                        <li>
                            <strong>Dietas Especiales:</strong> Para necesidades nutricionales específicas, incluyendo
                            sensibilidades alimentarias y control de peso.
                        </li>
                    </ul>
                </div>

            </div>


            <div class="meshfront">
                <img src="../img/caja6.png" alt="caja6" class="imagen_caja">
            </div>




        </div>

    </div>

    <br>

    

    <br>

<section class="color">

    <h2 class="tituloh2">¡Nuestras ubicaciones!</h2>
    <br>

    <div class="contenedor ubicacionesgrid">
        <div class="items1y2">

            <div class="item1">
                <div class="contenedor_cuidad">
                    <div class="sedescuidad">
    
    
                        <img src="../img/bogota.jpg" alt="Bogota" class="imagen_caja">
    
                    </div>
                    <div class="datos_de_la_cuidades">
                        <div class="nombredecuidad">
                            <h3>Bogota</h3>
                        </div>
                        <div class="cuidadtelefonodireccion">
                            <p>Calle 122 #47-68</p>
                            <p>Telefono : 3227898291</p>
                        </div>
    
                        <h4>Atencion 24 horas | Como llegar</h4>
                        <div class="botondecita"> <a href="#" role="button">
    
                                <h4>¡Pide tu cita ahora!</h4>
                            </a>
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="item2">
                <div class="contenedor_cuidad">
                    <div class="sedescuidad">
    
    
                        <img src="../img/medellin.png" alt="medellin" class="imagen_caja">
    
                    </div>
                    <div class="datos_de_la_cuidades">
                        <div class="nombredecuidad">
                            <h3>Medellin</h3>
                        </div>
                        <div class="cuidadtelefonodireccion">
                            <p>Calle 122 #47-68</p>
                            <p>Telefono : 3227898291</p>
                        </div>
    
                        <h4>Atencion 24 horas | Como llegar</h4>
                        <div class="botondecita"> <a href="#" role="button">
    
                                <h4>¡Pide tu cita ahora!</h4>
                            </a>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="items3y4">

            <div class="item3">
                <div class="contenedor_cuidad">
                    <div class="sedescuidad">
    
    
                        <img src="../img/cali.jpg" alt="cali" class="imagen_caja">
    
                    </div>
                    <div class="datos_de_la_cuidades">
                        <div class="nombredecuidad">
                            <h3>Cali</h3>
                        </div>
                        <div class="cuidadtelefonodireccion">
                            <p>Calle 122 #47-68</p>
                            <p>Telefono : 3227898291</p>
                        </div>
    
                        <h4>Atencion 24 horas | Como llegar</h4>
                        <div class="botondecita"> <a href="#" role="button">
    
                                <h4>¡Pide tu cita ahora!</h4>
                            </a>
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="item4">
                <div class="contenedor_cuidad">
                    <div class="sedescuidad">
    
                        <img src="../img/barranquilla.jpg" alt="barranquilla" class="imagen_caja">
    
                    </div>
                    <div class="datos_de_la_cuidades">
                        <div class="nombredecuidad">
                            <h3>Barranquilla</h3>
                        </div>
                        <div class="cuidadtelefonodireccion">
                            <p>Calle 122 #47-68</p>
                            <p>Telefono : 3227898291</p>
                        </div>
    
                        <h4>Atencion 24 horas | Como llegar</h4>
                        <div class="botondecita"> <a href="#" role="button">
    
                                <h4>¡Pide tu cita ahora!</h4>
                            </a>
                        </div>
    
                    </div>
                </div>
            </div>

        </div>



    </div>
    <br>
    <br>
</section>


<h2 class="tituloh2">¡Blog!</h2>

    <br>

        <div class="contenerdor_elemento contenedor">
            <div class="contendorpacientes">
                <h2>El Paciente Felino</h2>
                <hr class="linea">
                <div class="fotosdelospacientes">
                    <img src="../img/gatopequenio.jpg" alt="gatopaciente1">
                    <img src="../img/gatopequenio2.jpg" alt="gatopaciente2">
                </div>
            </div>
            <div class="contenedordatosgatunos">
                <br>
                <p><strong>Los gatos son expertos en disimular las enfermedades</strong> como mecanismo de defensa
                    frente a sus predadores.</p>

                <p>Cuando están enfermos no muestran signos hasta que ya no pueden ocultarlos, por lo tanto la
                    prevención y el diagnóstico preventivo son muy importantes</p>

                <ul>
                    <li>• Necesitas una segunda opinión?</li>
                    <li> • Tu gato no responde al tratamiento?</li>
                    <li>• Adelgaza o no come como antes?</li>
                    <li>• Muestra síntomas de enfermedad?</li>
                </ul>

                <div class="botondecita"> <a href="#" role="button">
                        <h4>¡Pide tu cita ahora!</h4>
                    </a></div>
            </div>
        </div>

    <br>
    <br>
    <footer class="footer">

        <div>
            <ul class="lista-footer">
                <li><a href="">Aviso legal</a></li>
                <li><a href="">Politica de Privacidad</a></li>
                <li><a href="">Politica de Cookies</a></li>
                <li><a href="">Politica de Calidad</a></li>
            </ul>
        </div>


        <div class="comunicacion">
            <div>
                <a href="#top" class="scroll-to-top"><img src="../img/logo.png" alt="logo" class="logo2"></a>
            </div>

            <div class="redes">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.twitter.com/"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>

        <div>
            <ul class="lista-footer">
                <li><a href="">KittyClinic</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
            </ul>
        </div>

    </footer>
    <div class="copyright">
        <p><strong>© 2024 Universidad Javeriana. Todos los derechos reservados.</p></strong>
    </div>
</body>

</html>