<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lista_usuario.css">
    <link rel="stylesheet" href="/js/lista_usuario.js">
    <title>Tabla y Barra Lateral</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/3b446387f4.js" crossorigin="anonymous"></script>
   
</head>
<body>

    <div class="inicio">
        <header class="header contenedor">
            <img src="../img/logo.png" alt="logo" class="logo">
            <div class="nav">
                <div class="opciones">
                    <a th:href="@{/}">Inicio</a>
                </div>
                <div class="opciones">
                    <a href="">Servicios</a>
                    <ul class="lista" id="lista1">
                        <li><a href="">Cirugías</a></li>
                        <li><a href="">Exámenes</a></li>
                        <li><a href="">Laboratorio Clínico</a></li>
                        <li><a href="">Urgencias</a></li>
                        <li><a href="">Peluquería</a></li>
                    </ul>
                </div>
                <div class="opciones">
                    <a href="">Contáctanos</a>
                </div>
                <div class="opciones">
                    <a href="">Sobre Nosotros</a>
                </div>
                <div>
                    <a th:href="@{/muestra/lista}">
                        <i class="fa-solid fa-cat"></i>
                    </a>
                </div>
                <div>
                    <a th:href="@{/cliente/login}">
                        <i class="fas fa-user"></i>
                    </a>                    
                </div>
        </header>
    </div>

    <div id="linea"></div>
    
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Genero</th>
                    <th>Cedula</th>
                    <th>Correo</th>
                    <th>Opciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.edad}"></td>
                    <td th:text="${usuario.genero}"></td>
                    <td th:text="${usuario.cedula}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td><a th:href="@{/cliente/usuario/{id}(id=${usuario.id})}"><i class="fa-solid fa-circle-info"></i>Ver mascotas</a></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/cliente/update/{id}(id=${usuario.id})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/cliente/delete/{id}(id=${usuario.id})}">Eliminar</a>
                    </td>
                </tr> 
            </tbody>
            
        </table>
    </div>

    

</body>
</html>
