<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla y Barra Lateral</title>
    <link rel="stylesheet" href="/css/lista.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/3b446387f4.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <div class="inicio">
        <header class="header contenedor">
            <img src="../img/logo.png" alt="logo" class="logo">
            <div class="nav">
                <div class="opciones">
                    <a href="">Inicio</a>
                </div>
                <div class="opciones">
                    <a href="">Servicios</a>
                    <ul class="lista" id="lista1">
                        <li><a href="">Cirugías</a></li>
                        <li><a href="">Exámenes</a></li>
                        <li><a href="">Laboratorio Clínico</a></li>
                        <li><a href="">Urgencias</a></li>
                        <li><a href="">Peluquería</a></li>
                    </ul>
                </div>
                <div class="opciones">
                    <a href="">Contáctanos</a>
                </div>
                <div class="opciones">
                    <a href="">Sobre Nosotros</a>
                </div>
                <div>
                    <i class="fa-solid fa-phone-volume"></i>
                </div>
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
        </header>
    </div>

    <div id="linea"></div>

    <br>

    <div class="tabla-pacientes contenedor">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Raza</th>
                    <th>Foto</th>
                    <th>información</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gato : ${gatos}">
                    <td th:text="${gato.nombre}"></td>
                    <td th:text="${gato.edad}"></td>
                    <td th:text="${gato.raza}"></td>
                    <td><img th:src="${gato.foto}"></td>
                    <td><a th:href="@{/prueba/gato/{id}(id=${gato.id})}"><i class="fa-solid fa-circle-info"></i>Ver mas información</a></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/prueba/update/{id}(id=${gato.id})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/prueba/delete/{id}(id=${gato.id})}">Eliminar</a>
                    </td>
                </tr> 
            </tbody>
            
        </table>
    </div>

    <div class="sidebar">
        <div class="profile">
            <img src="/img/fotodelveterinario.jpg" alt="Foto del Veterinario">
            <h3>Nombre del Veterinario</h3>
        </div>
        <ul>
            <li><a type="button" class="btn btn-primary" th:href="@{/prueba/add}"><span>Agregar Felino</span></a></li>
            <li><a href="#"><span>Ver tratamientos</span></a></li>
            <li><a href="#"><span>Ver servicios</span></a></li>
        </ul>
    </div>
    

</body>
</html>
