<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla y Barra Lateral</title>
    <link rel="stylesheet" href="/css/lista.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/3b446387f4.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <div class="inicio">
        <header class="header contenedor">
            <img src="../img/logo.png" alt="logo" class="logo">
            <div class="nav">
                <div class="opciones">
                    <a href="">Inicio</a>
                </div>
                <div class="opciones">
                    <a href="">Servicios</a>
                    <ul class="lista" id="lista1">
                        <li><a href="">Cirugías</a></li>
                        <li><a href="">Exámenes</a></li>
                        <li><a href="">Laboratorio Clínico</a></li>
                        <li><a href="">Urgencias</a></li>
                        <li><a href="">Peluquería</a></li>
                    </ul>
                </div>
                <div class="opciones">
                    <a href="">Contáctanos</a>
                </div>
                <div class="opciones">
                    <a href="">Sobre Nosotros</a>
                </div>
                <div>
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div>
                    <a href="/muestra/login">
                        <i class="fas fa-user"></i>
                    </a>                    
                </div>
        </header>
    </div>

    <div id="linea"></div>

    <br>

    <div class="tabla-pacientes">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Raza</th>
                    <th>Foto</th>
                    <th>información</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gato : ${gatos}">
                    <td th:text="${gato.nombre}"></td>
                    <td th:text="${gato.edad}"></td>
                    <td th:text="${gato.raza}"></td>
                    <td><img th:src="${gato.foto}"></td>
                    <td><a th:href="@{/muestra/gato/{id}(id=${gato.id})}"><i class="fa-solid fa-circle-info"></i>Ver mas información</a></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/muestra/update/{id}(id=${gato.id})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/muestra/delete/{id}(id=${gato.id})}">Eliminar</a>
                    </td>
                </tr> 
            </tbody>
            
        </table>
    </div>

    <div class="sidebar">
        <div class="profile">
            <img src="/img/fotodelveterinario.jpg" alt="Foto del Veterinario">
            <h3>Nombre del Veterinario</h3>
        </div>
        <ul>
            <li><a type="button" class="btn btn-primary" th:href="@{/muestra/add}"><span>Agregar Felino</span></a></li>
            <li><a href="#"><span>Ver tratamientos</span></a></li>
            <li><a href="#"><span>Ver servicios</span></a></li>
        </ul>
    </div>
    

    <footer class="footer">

        <div>
            <ul class="lista-footer">
                <li><a href="">Aviso legal</a></li>
                <li><a href="">Politica de Privacidad</a></li>
                <li><a href="">Politica de Cookies</a></li>
                <li><a href="">Politica de Calidad</a></li>
            </ul>
        </div>


        <div class="comunicacion">
            <div>
                <a href="#top" class="scroll-to-top"><img src="../img/logo.png" alt="logo" class="logo2"></a>
            </div>

            <div class="redes">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.twitter.com/"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>

        <div>
            <ul class="lista-footer">
                <li><a href="">KittyClinic</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
            </ul>
        </div>

    </footer>
    <div class="copyright">
        <p><strong>© 2024 Universidad Javeriana. Todos los derechos reservados.</p></strong>
    </div>

</body>
</html>
