<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usuario.css">
    <script src="/js/usuario.js"></script>
    <title>Mis Gatos</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/3b446387f4.js" crossorigin="anonymous"></script>
</head>

<body>


    <div class="inicio">
        <header class="header contenedor">
            <img src="/img/logo.png" alt="logo" class="logo">
            <div class="nav">
                <div class="opciones">
                    <a href="">Inicio</a>
                </div>
                <div class="opciones">
                    <a href="">Servicios</a>
                    <ul class="lista" id="lista1">
                        <li><a href="">Cirugías</a></li>
                        <li><a href="">Exámenes</a></li>
                        <li><a href="">Laboratorio Clínico</a></li>
                        <li><a href="">Urgencias</a></li>
                        <li><a href="">Peluquería</a></li>
                    </ul>
                </div>
                <div class="opciones">
                    <a href="">Contáctanos</a>
                </div>
                <div class="opciones">
                    <a href="">Sobre Nosotros</a>
                </div>
                <div>
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div>
                    <a href="/muestra/login">
                        <i class="fas fa-user"></i>
                    </a>                    
                </div>
        </header>
    </div>

    <div id="linea"></div>

   
    <div class="usuario-info"> 
        <h2 th:text="${usuario.nombre}"></h2>
        <p th:text="${usuario.genero}"></p>
        <p th:text="${usuario.edad}"></p>
        <p th:text="${usuario.cedula}"></p>
        <p th:text="${usuario.correo}"></p>
    </div>
    
                <div class="tabla-contenedor">
                    <table>
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Raza</th>
                                <th>Edad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mascota : ${usuario.mascotas}">
                                <td><img th:src="${mascota.foto}" alt="Foto de Mascota" class="foto-mascota"/></td>
                                <td th:text="${mascota.nombre}"></td>
                                <td th:text="${mascota.raza}"></td>
                                <td th:text="${mascota.edad}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                

</html>